<%- include("partials/header.ejs") %>

<form action="/add" method="post" class="newPostForm p-2">
    <textarea class="form-control form-control-lg blogInput p-0 mb-3" name="blogInput" placeholder="Create New Blog" rows="4"></textarea>
    <button class="btn button p-1" type="submit">Submit</button>
</form>

<hr class="divider">

<h3 class="my-4"><u>Your Latest Blogs:</u></h3>

<section class="Blogs">
    <% for (let i = 0; i < locals.blogCount; i++) { %>
        <div class="blog-container pt-1 ps-2 mb-4" data-blog-id="<%= locals.blogList[i].Id %>">
            <p class="blogContent"><%= blogList[i].Content %></p>
            <div class="d-inline-flex">
                <form action="/edit" method="post">
                    <input type="hidden" name="blogId" value="<%= locals.blogList[i].Id %>">
                    <input type="hidden" name="newContent" class="hidden-new-content">
                    <button class="btn button mb-2 p-1 edit-btn" type="button" data-action="edit">Edit</button>
                    <button class="btn button mb-2 p-1 d-none confirm-btn" type="button" data-action="confirm">Confirm</button>
                    <button class="btn button ms-4 mb-2 p-1 d-none cancel-btn" type="button" data-action="cancel">Cancel</button>
                </form>
                
                <form action="/delete" method="post">
                    <input type="hidden" name="blogId" value="<%= locals.blogList[i].Id %>">
                    <button class="btn button ms-4 mb-2 p-1 delete-btn" type="submit" data-action="delete">Delete</button>
                </form>
            </div>
        </div>
    <% } %>
</section>

<%- include("partials/footer.ejs") %>